# GitHub Migration LFS (GHMLFS)
GHMLFS_SOURCE_ORGANIZATION=
GHMLFS_SOURCE_HOSTNAME=
GHMLFS_SOURCE_TOKEN=
GHMLFS_TARGET_ORGANIZATION=
GHMLFS_TARGET_HOSTNAME=
GHMLFS_TARGET_TOKEN=
GHMLFS_WORKERS=
GHMLFS_SEARCH_DEPTH=1
GHMLFS_BATCH_SIZE=100
GHMLFS_UPLOAD_PARALLEL=8
GHMLFS_CHECK_HASHES=false
GHMLFS_DRY_RUN=false
GHMLFS_NO_FINAL_CHECK=false
GHMLFS_RETRY_MAX=3
GHMLFS_RETRY_DELAY=1s
GHMLFS_STATE_DIR=.lfs-migrate
GHMLFS_WORK_DIR=
GHMLFS_FILE=